\documentclass[12pt,a4paper]{abntex2}

\usepackage[utf8]{inputenc}
\usepackage[T1]{fontenc}
\usepackage[brazil]{babel}
\usepackage{graphicx}
\usepackage{amsmath,amssymb,amsfonts}
\usepackage{booktabs}
\usepackage{hyperref}
\usepackage{geometry}
\geometry{a4paper, margin=2.5cm}
\usepackage{indentfirst}
\usepackage{setspace}
\usepackage{tabularx}
\usepackage{longtable}
\usepackage{caption}
\usepackage{subcaption}
\usepackage{xcolor}

\usepackage[alf]{abntex2cite}

\onehalfspacing
\hypersetup{colorlinks=true, linkcolor=blue, citecolor=blue, urlcolor=blue}

\title{$title$}
\author{$author$}
\date{$date$}

\begin{document}

\maketitle
\tableofcontents
\newpage

$body$

\bibliographystyle{abntex2-alf}
\bibliography{referencias}

\end{document}
