\documentclass[conference]{IEEEtran}

\usepackage[utf8]{inputenc}
\usepackage[T1]{fontenc}
\usepackage{graphicx}
\usepackage{amsmath,amssymb}
\usepackage{booktabs}
\usepackage{hyperref}
\usepackage{cite}

\title{$title$}
\author{$author$}

\begin{document}

\maketitle
\begin{abstract}
Documento convertido automaticamente via pdf2latex.
\end{abstract}

$body$

\bibliographystyle{IEEEtran}
\bibliography{referencias}

\end{document}
